* {
    box-sizing: border-box;
    margin: 0;
}
body {

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    background-color: #D1D0D0;
}
.main-header {
    background-color: #EAC926;
    padding: 5px;
}
.text-header {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    margin: 10px 0;;  
}
.logo {
    width: 180px;
}
.main-nav-bar {  /*ocultarla  */
    display: none;
}
.main-nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav-bar ul li {
    text-decoration: none;
    color: #03264C;
    display: inline-block;
    font-size: 17px;
    margin: 0;
    padding: 5px 0;
}
.img-product {
    width: 100%;
    margin-bottom: -26px; /*DUDOSO PONER EL MARGEN NEGATIVO*/
}
.home-banner {
    width: 100vw;
    height: auto;
}
article {
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.text-article {
    background-color: white;
    width: 100%;
    height: 60px;
    margin-top: -20px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.fa-truck {
    font-size: 25px;
    position: relative;
    color: #7FCF8A;
    border: #7FCF8A solid 1px;
    border-radius: 50%;
    padding: 10px;
}
.main-header-top {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.nav-search-btn{
    box-shadow: #fff;
    background-color: #fff;
    color: gray;
    border: none;
    border-radius: 3px;
}
.search {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    display: flex;
    /* max-width: 60%; */
    border-radius: 3px;
    margin: 10px auto;
    justify-content: space-between;
    
}
#search-bar {
    padding: 10px;
    width: 100%;
    background: #ffff;
    border: none;
    border-radius: 5px;
    margin-right: -5px;
}
.hamburger-menu {
    /* position: absolute; */
    display: block; /*una forma de centrarlo, block mas tamaño*/
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    background-color: #03264C;
    color: white;
    padding: 10px 0px;
    border-radius: 8px;
    font-size: 17px;
    margin: 10px auto; /*al ser de bloque lo centra*/

}
.headlines {
    font-size: 24px;
    text-align: center;
    margin: 20px auto;
}
.price{
    font-size: 18px;
}
.discount{
    font-size: 16px;
    color: #7FCF8A;
}
.description{
    font-size: 18px;
    font-weight: bold;
}
.icons-footer {
    color: rgb(54, 52, 191);
    font-size: 2em;
}
footer {
    width: 100vw;
    height: auto;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.sections-footer {
    padding: 30px;
}
.copyright {
    text-align: start;
}

@media (min-width: 768px) {
    .main-header-top {
        display: flex;
        justify-content: space-between;
        /* border: red 1px solid; */
    }
    .main-nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav-bar ul {
        display: flex;
        justify-content: space-between;
    }
    .main-nav-bar ul li {
        margin: 0 5px;
    }
    .text-header {
        max-width: 350px;
        text-align: right;
        font-size: 15px;
    }
    .hamburger-menu {
        display: none;
        justify-content: space-between;
    }
    .search {
        width: 350px;
    }
    .logo {
        width: 200px;
    }
    article {
        max-width: 600px;
        margin: 20px auto;
    }
}

@media (min-width: 1200px){
    /* .logo {
        width: 250px;
    } */
    .search {
        width: 500px;
    }
    .main-header-top, .main-nav-bar {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .main-header-top {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-wrap: nowrap;
        /* padding: 5px; */
    }
    .main-nav-bar ul li{
        margin: 0 10px;
        font-size: 18px;
    }
    .text-header {
        max-width: none;
        font-size: 17px;
        font-weight: bold;
    }
    
}